<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" IgnorableNamespaces="uap rescap mp">
    <Identity Name="PokerKo.4454907E5DDB5" Publisher="CN=D5BE94D7-0E23-4B10-BC6A-5550D9783A2A" Version="4.2.1.0"/>
    <Properties>
        <DisplayName>Pixeval</DisplayName>
        <PublisherDisplayName>PokerKo</PublisherDisplayName>
        <Logo>Assets\Images\Tiles\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
            <uap:VisualElements DisplayName="Pixeval" Description="A fast, powerful and fully-functional third-party Pixiv client" BackgroundColor="transparent" Square150x150Logo="Assets\Images\Tiles\Square150x150Logo.png" Square44x44Logo="Assets\Images\Tiles\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Images\Tiles\Wide310x150Logo.png" Square71x71Logo="Assets\Images\Tiles\SmallTile.png" Square310x310Logo="Assets\Images\Tiles\LargeTile.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                        <uap:ShowOn Tile="wide310x150Logo"/>
                        <uap:ShowOn Tile="square310x310Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile >
                <uap:SplashScreen Image="Assets\Images\Tiles\SplashScreen.png" />
                <uap:LockScreen BadgeLogo="Assets\Images\Tiles\BadgeLogo.png" Notification="badgeAndTileText"/>
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape"/>
                    <uap:Rotation Preference="portrait"/>
                </uap:InitialRotationPreference>
            </uap:VisualElements>
            <Extensions>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="pixeval">
                        <uap:DisplayName>Pixeval App Protocol</uap:DisplayName>
                    </uap:Protocol>
                </uap:Extension>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="pixiv">
                        <uap:DisplayName>pixiv</uap:DisplayName>
                    </uap:Protocol>
                </uap:Extension>
            </Extensions>
        </Application>
    </Applications>
    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <Capability Name="internetClient"/>
        <uap:Capability Name="picturesLibrary"/>
        <Capability Name="codeGeneration"/>
        <uap:Capability Name="removableStorage"/>
    </Capabilities>
    <mp:PhoneIdentity PhoneProductId="14e30dcf-523d-4435-8d1e-bf77303fe99e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
</Package>
